@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Stick+No+Bills:wght@400;500;600;700;800&display=swap');

$background-main-color: rgb(250, 250, 250);

$orange-var-color: #EF5B0C;
$blue-var-color: #003c6d;
$green-var-color: #00a513;

$clickable_size: 33px;

$link__weight: 500;

$title__font__family: 'Stick No Bills', sans-serif;
$normal__font__family: 'Chakra Petch', sans-serif;

$primary__title__size: 45px;
$secundary__title__size: 25px
